<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Templates - Heartlands Codex</title>
  <link rel="icon" type="image/x-icon" href="../images/HeartlandsLogo.PNG">
  <link href="../css/torillic.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet">
  <link href="../assets/css/gallery.css" rel="stylesheet">
  <style>
    .torillic-background {
      
      background-image: url("../images/HeartlandsCodexBackground.jpg");
      
    }
  </style>
  <script>
    function toggleSpoiler(element) {
      // add/remove "hidden" class
      if (element.classList.contains("hidden")) {
        element.classList.remove("hidden");
      } else {
        element.classList.add("hidden");
      }
    }
  </script>
</head>

<body class="torillic-background">
  <header class="torillic-header">
    <h1>Heartlands Codex</h1>
    <nav>
      
      
      <a class="" href="..">Heartlands Codex</a>
      
      
      
      <a class="" href="../StartHere/">Start Here</a>
      
      
      
      <a class="" href="../Indexes/">Indexes</a>
      
      
      
      <a class="" href="../Tags/">Tags</a>
      
      
      
      <a class="" href="../Heartlands/">Heartlands</a>
      
      
      
      <a class="" href="../Heartlands_TheArena/">Heartlands: The Arena</a>
      
      
      
      <a class="" href="../Heartlands_TLC/">Heartlands: The Lost Colony</a>
      
      
      
      <a class="" href="../SiteDesignReference/">SiteDesignReference</a>
      
      
      
      <a class="current" href="./">Templates</a>
      
      
    </nav>
  </header>
  <main class="torillic-page">
    
    <h1 id="templates">Templates</h1>
<p>Use these templates when creating new pages. Copy one and fill it out.</p>
<ul>
<li><a href="NPC/">NPC Template</a></li>
<li><a href="Location/">Location Template</a></li>
<li><a href="Item/">Item Template</a></li>
<li><a href="Quest/">Quest Template</a></li>
<li><a href="Faction/">Faction Template</a></li>
<li><a href="Race/">Race Template</a></li>
</ul>

    
    
    

<h4>Contents</h4>

<blockquote class=torillic-toc>

    
    
    
    
    
    

    
    
    
    
    
    
    <li class="torillic-toc-page">
        <a href="Faction/">Faction Name</a>
    </li>
    

    
    
    
    
    
    
    <li class="torillic-toc-page">
        <a href="Item/">Item Name</a>
    </li>
    

    
    
    
    
    
    
    <li class="torillic-toc-page">
        <a href="Location/">Location Name</a>
    </li>
    

    
    
    
    
    
    
    <li class="torillic-toc-page">
        <a href="NPC/">NPC Name</a>
    </li>
    

    
    
    
    
    
    
    <li class="torillic-toc-page">
        <a href="Quest/">Quest Name</a>
    </li>
    

    
    
    
    
    
    
    <li class="torillic-toc-page">
        <a href="Race/">Race Name</a>
    </li>
    

</blockquote>

    
    
    
    
    



    
        
        
    




<a href=".." class="torillic-backlink">🡐 Heartlands Codex</a>
    
  </main>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="../assets/js/swiper-init.js"></script>
  <script src="../assets/js/random-page.js"></script>
  <script src="../assets/js/breadcrumbs.js"></script>
  <script src="../search/main.js"></script>
</body>

</html>